:root {
	--primary-color: #967e76;
	--secondary-color: #453b37;
	--light-color: #a3927c;
	--whity: #f5f5f5;
	--grey: #708090;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2rem;
}

.bannertop {
	height: 150px;
	background-color: var(--primary-color);
}

#image-banner {
	height: 150px;
}

#titles {
	color: var(--whity);
}

#get-image {
	background-color: var(--primary-color);
	border: none;
}

#get-image:hover,
#get-image:focus,
#get-image:active {
	background-color: var(--light-color);
}

#gif-checkbox {
	accent-color: var(--primary-color);
}

.highlight {
	background-color: var(--primary-color);
	accent-color: var(--secondary-color);
}

.highlight:nth-last-of-type(1) {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.highlight:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.radioBox {
	border: 1px solid var(--primary-color);
	border-bottom: 0.5px;
	padding: 0.5rem;
	width: 250px;
}

.radioBox:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.radioBox:nth-of-type(9) {
	border-bottom: 1px solid var(--primary-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.popBox {
	background-color: var(--primary-color);
	width: 350px;
	height: 600px;
	position: absolute;
	top: 12rem;
	border-radius: 5px;
	/* display: none; */
}

#close-button {
	background-color: var(--light-color);
	border: none;
}

#close-button:hover,
#close-button:focus,
#close-button:active {
	background-color: var(--whity);
	color: var(--grey);
}

/* Media queries */
@media (max-width: 375px) {
	.container {
		margin-bottom: 4rem;
	}

	.popBox {
		background-color: var(--primary-color);
		width: 320px;
	}
}
